.panel.grocery-list {
    background-color: #eee;
}

/*** Grocery view ***/
.category .category-name {
    padding: 5px;
    font-weight: bold;
    border-bottom: 3px solid #ea6753;
    box-shadow: inset 0 -4px 0 #ea6753;
}
.category .grocery {
    margin-left: 10px;
}

.category .grocery .quantity span:not(:last-child):after { 
    content: ' + '; 
}